body {
    background-color: lightgray;
}
.container {
    width: 604px;
    height: 604px;
    margin-left: 30%;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
}

.main-container {
    width: 200px;
    height: 200px;
    border: 1px solid white;
    flex-basis: 33%;
    position: relative;
}

.main-container-inner {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin-left: 33%;
    margin-top: 30%;
    border-radius: 50px;
}

#red {
    background-color: red;
}
#pink {
    background-color: pink;
}
#blue {
    background-color: blue;
}
#gray {
    background-color: gray;
}
#green {
    background-color: green;
}
#violet {
    background-color: darkviolet;
}
#yellow{
    background-color: yellow;
}
#black {
    background-color: black;
}
#orange {
    background-color: orange;
}